body {
    background-image: url("images/background.jpg");
}

div#EnTete {   
    background: white;
    position: fixed;
    border: solid 3px green;
    width: 100%;
    height: 40px;
    left: 0px;
    top: 0px;
    z-index: 100;
}

div#EnTete * {
    display: inline;
    position: relative;
}

div#EnTete a img {
    height: 100%;
}

div#EnTete input{
    
    height: 50%;
    margin-bottom: 20px;
}

div#EnTete input[type="text"] {
    width: 50%;
}

div#Lien_Questionnaires{
    background : pink;
    position: relative;
    top: 60px;
    margin-left: 25%;
    margin-right: 25%;
    display: block;
    border: brown solid 3px;
    width: 50%;
    height: 100px;
}

div#Lien_Questionnaires a{
    border: solid 3px palevioletred;
    position: absolute;
    top :50%;
    left: 25%;
}
div#Formations{
    border: darkblue solid 3px;
    position: relative;
    top: 60px;
    margin-left: 10%;
    margin-right: 10%;

    background: cyan;
}

.formation p {
    font-weight: bolder;
}

.formation a img{
    display: inline;
    position: relative;
    width: 10%;
    margin: 1%;
    
}