@import url("../cssIndex.css");

body {
    width: 80%;
    background-color: aqua;
    margin: 0 auto;
}
body div {
    top: 50px;
    margin: 0 auto;
    border-radius:30px ;
}



div#Texte {
    position: relative;
    background-color: rgb(68, 110, 4);
    top:50px;
    width: 100%;
    height: 100px;
    margin: 0 auto;
    color: #032c03;
}

div#Texte p{
    position: absolute;
    width: 100%;
    font-size: 200%;
    vertical-align: middle;
    text-align: center;
    font-weight: bolder;
}

div#Question{

    position: relative;
    background-color: greenyellow;
    width: 80%;
    margin: 10px auto;
    padding-bottom: 10px;
    padding-top: 10px;
}

div#Question p{
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
}

button{
    border-radius: 30px;
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 50%;
    height: 200px;
    color: #032c03;
    font-size: 1.4em;
    background-color: rgb(155, 245, 155);
}

button:hover{
    border: solid black 3px;
    cursor: pointer;
    font-weight: bolder;

}

div#lien {
    position: relative;

    width: 79%;
    height: 80px;
}

div#lien a#precedent{
    width: 80px;
    height: 100%;
    float: left;
    border: solid 3px black;
    background-color: aliceblue;
}

div#lien a#accueil{
    position: relative;
    width: 40px;
    height: 100%;
    float: right;
    right: 20px;
}

div#lien a img{
    height: 100%;
}