@import url("../variables.css");


body {
    background-color: var(--couleurPrincipale);
}

div#body
{
    width: 80%;
    margin: 0 auto;
    min-width: 800px;
}

div#description {
    position: relative;
    margin-top: 50px;
    width: 100%;
    height:300px;
    border: solid var(--couleurSecondaire) 10px;
    border-radius: 30px;
}

div#description div#image {
    position: absolute;
    width: 20%;
    height: 80%;
    
}

div#description div#image img {
    width:100%;
    height: 100%;
    border-top-left-radius: 20px;
}

div#description div#resume {
    position: absolute;
    width: 600px;
    height: 80%;
    left: 20%;
    top: 0%;
}

div#description div#resume *{
    position: relative;
    margin: 1%;
    color: var(--couleurComplementaire1);
}
div#description div#resume h1 {
    top: 1%;
    font-size: 2em;
    
}
div#description div#resume h2 {
    top: 1%;
    font-size: 1.5em;
}
div#description div#resume p{
    bottom: 1%;
    margin-top: 10px;
    font-size: 1em;
    word-wrap: break-word;
    overflow-y: scroll;
    width: 80%;
    height: 60%;
    bottom: 0px;
    border: var(--couleurIII) solid 3px;
    color: var(--couleurComplementaire2);
}

div#description div#divers {
    position: absolute;
    bottom: 0px;
    width: 90%;
    height: 20%;
}

div#description div#divers span#duree {
    height: 100%;
    width: 20%;
}
div#description div#divers span#duree img{
    position: relative;
    width: 100px;
    height: 100%;
    border-radius: 0px 0px 0px 11px ;
}

.lettreDivers
{
    text-align: center;
    font-size: 1.5em;
    font-weight: bolder;
    vertical-align: 20px;
}

div#description div#divers span#duree span#temps{
    position: relative;
    left:20px;  
}

div#description div#divers span#geste {
    position: relative;
    display: inline-block;
    width: 10%;
    left: 20%;

}

div#description div#divers span#nombre {
    position: relative;
    height: 100%;
    left: 20%;
}

div.chapitre {
    position: relative;
    margin-top: 30px;
    font-size: 1.5em;
    background-color: var(--couleurSecondaire);
    border: solid black 3px;
    border-radius: 30px;
    padding: 30px;
    color: var(--couleurPrincipale);
}

div.chapitre button{

    width: 60px;
    height: 60px;
    font-size: larger;
    font-weight: bolder;
    border-radius: 30px;
    outline: none;
    border: var(--couleurIII) 2px solid;
    background-color: var(--couleurIII);
}

div.chapitre button:hover{
    cursor: pointer;
}

div.chapitre span.chapitreTitre {
    font-size: larger;
    font-weight: bolder;
}

div.chapitre a{
    text-decoration: none;
    color: var(--couleurPrincipale);
}

div.chapitre a:hover{
    text-decoration: underline;
}