@import url("../variables.css");

:root {
    --videoWidth: 1000px;
    --videoHeight: 650px;
    --blockVideoWidth: calc(var(--videoWidth) * 0.8);
    --blockVideoHeight: calc(9*var(--blockVideoWidth)/16);
    --controllerHeight: 50px;
    --progressionHeight: 10px;
  }

body{
    padding-top: 20px;
    background-color: var(--couleurPrincipale);
}

a {
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

/***************** LES CHAPITRES *************************/
div#chapitrage {
    position: relative;
    margin: 0 auto;
    height: 50px;
    width: calc(var(--videoWidth) + 50px);
    text-align: center;
    background-color: var(--couleurIII);
    border-radius: 30px;
    padding-top: 30px;;
}

div#chapitrage *
{
    font-size: larger;
    color: var(--couleurPrincipale);
    margin: 0 5px 0px 5px;
}
/*************************************************************/

/***************** LA VIDEO **********************************/
/** bloc principal **/
div#video {
    position: relative;
    margin: 20px auto 20px auto;
    width: var(--videoWidth);
    height: var(--videoHeight);
    background-color: var(--couleurSecondaire);
    border-radius: 30px;
}

/** Titre de la video **/
div#video h2{
    padding-top: 20px;
    font-size: 2em;
    font-weight: bolder;
    color: var(--couleurPrincipale);
    text-align: center;
}

/** Lecteur video **/
div#video div#blocVideoPlayer{
    position: relative;
    width: var(--blockVideoWidth);
    height: var(--blockVideoHeight);
    margin: 0 auto;
    background-color: black;
}

/** la video **/
div#blocVideoPlayer video{
    position: absolute;
    width:100%;
    height: 100%;
}

div#clickVideo {
    position: absolute;
    width:100%;
    height: calc(100% - var(--controllerHeight) - var(--progressionHeight));
}

/** barre de progression de la lecture **/
div#blocVideoPlayer div#progression
{
    position: absolute;
    width: 100%;
    height: 10px;
    bottom: var(--controllerHeight);
    background-color: rgba(255, 255, 255, 0.253);
    
}

div#blocVideoPlayer div#progression:hover{
    cursor: pointer;
}

div#progression span#position {
    position: absolute;
    background-color: red;
    height: 100%;
    z-index: 1;
}

div#progression span#chargement {
    position: absolute;
    background-color:white;
    height: 100%;
    z-index: 0;
}

/** le bloc de contrôle avec ses bouttons **/

div#blocVideoPlayer div#controlers
{
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: var(--controllerHeight);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
    
}

div#controlers > *{
    float: left;
    margin-right: 10px;
    background-color: rgba(0, 0, 0, 0.452);
    width: var(--controllerHeight);
    height: 100%;
}

input#playButton {
    
}

input#stopButton {
    
}

div#son {

    background-color: rgba(255, 255, 255, 0.021);
    
}

div#iconeSon{
    float: left;
    width: var(--controllerHeight);
    height: 100%;
    background-color: white;
}
div#iconeSon img{
    width: 100%;
    height: 100%;
}

div#ajusterSon{
    display: none;
    float: left;
    width: 70%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
}

div#barre {
    position: relative;
    border: solid 1px black;
    background-color: rgba(255, 255, 255, 0.116);
    width: 80%;
    height: 10px;
    margin: 0 auto;
    top: calc(50% - 5px);
    
}

div#barre:hover {
    cursor: pointer;
}

div#volume {
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: white;
    
}

p#temps{
    width: 100px;
    height: 100%;
    color: white;
    text-align: center;
    background-color: transparent;
}

div#vitesse{
    float: right;
    background-color:unset;
    color: white;
    height: auto;
    margin-top: 10px;
}

div#vitesse div#tableVitesse{
    display: none;
    position: absolute;
    width: 100px;
    background-color: rgba(0,0,0,0.5);
    top: -110px;
    right: 50px;
    z-index: 2;
}

div#vitesse div#iconeVitesse:hover{
cursor: pointer;
}

div#vitesse div#iconeVitesse{
    
    background-color: inherit;
    text-align: center;
    font-size: larger;
}

div#vitesse li:hover{
    cursor: pointer;
}

div#fullscreen {
    float:right;
}

div#fullscreen input{
    width: 100%;
    height: 100%;
}


/** bloc de la prochaine et précèdente vidéo **/
div#prochain {
    position: relative;
    width: var(--videoWidth);
    height: 40px;
    background-color: var(--couleurIII);
    padding-top: 20px;
    border-radius: 30px;
   margin: 0 auto;
    
}

div#prochain a{
    color: var(--couleurPrincipale);
}
div#prochain a#precedent {
    position: absolute;
    left: 5%;
    
}

div#prochain a#suivant {
    position: absolute;
    right: 5%;
    
}