
@import url("../variables.css");

:root{
    --formulaireWidth:1200px;
    --formulaireHeight : 950px;
}

body {
    background-color: var(--couleurPrincipale);
}

div#formulaires {

    height: var(--formulaireHeight);
    width: var(--formulaireWidth);
    border: solid 3px var(--couleurPrincipale);
    background-color: var(--couleurSecondaire);
    border-radius: 30px;
    margin: 0 auto;
    color: var(--couleurPrincipale);
    padding: 2px;
}

/* Les erreurs du formulaire */

p.erreur {
    font-size: smaller;
    font-weight: bolder;
    position: relative;
    bottom: 15px;
}

p.erreurSQL{
    font-size: larger;
    color: white;
    font-weight: bolder;
    
}


/* la partie inscription */
div#inscription{
    float: left;
    position: relative;
    left: 15%;
    height: 80%;
    width: calc(var(--formulaireWidth)/3);
    margin-top: 1%;
    border: var(--couleurPrincipale) 3px solid;
    border-radius: 30px;
    padding: 2px;
}

/* la partie login */
div#login{
    float: right;
    position: relative;
    height: 30%;
    width: calc(var(--formulaireWidth)/3);
    margin-top: 1%;
    right: 15%;
    border: var(--couleurPrincipale) 3px solid;
    padding: 2px;
    border-radius:30px;
}

/* les différents élément à remplir */

.input {
    position: relative;
    display: block;
    height: 40px;
    width: 100%;
    margin-top: 10px;
    
    
}

.inputFile{
    position: relative;
    display: block;
    margin-bottom: 60px;
    height: 30px;
}

.input * {
    
    color: var(--couleurPrincipale);
}

 h2 {
    text-align: center;
}

label {
    float: left;
    width: 33%;
    font-weight: bolder;
}

div#formulaires input {
    border: var(--couleurPrincipale) 1px solid;
    color: var(--couleurPrincipale);
    border-radius: 30px;
    width:60%;
    outline: none;
}
div#formulaires input[type='date'] {

    width:33%;
}

div#formulaires input:focus{
    border: var(--couleurPrincipale) 3px solid;
    color: var(--couleurPrincipale);
    border-radius: 30px;
    outline: none;
}

div#formulaires input[type="submit"] {

    float: right;
    margin-right: 20px;
}

div#formulaires select {
    
    outline: none;
    border: var(--couleurPrincipale) 1px solid;
    border-radius: 30px;
}

div#formulaires select:focus {
    font-weight: bolder;
    outline: none;
    border: var(--couleurPrincipale) 3px solid;
    border-radius: 30px;
}



div#formulaires input[type="submit"] {

    position: absolute;
    bottom: 10px;
    right:10px;
    height: 30px;
    width: 90px;
    border: var(--couleurPrincipale) 3px solid;
    border-radius: 30px;
}


div#formulaires input[type="submit"]:hover {

    cursor: pointer;
}

div#formulaires input[type="submit"]:hover:focus {

    cursor: pointer;
    outline: none;
}

