@import url("../cssIndex.css");

body {
    background:green;
}

div#Texte {
    position: relative;
    top: 60px;
    background-color: rgb(68, 110, 4);
    width: 50%;
    height: 100px;
    left: 25%;
    color: #032c03;
}

div#Question{

    position: relative;
    background-color: greenyellow;
    left: 20%;
    width: 60%;
}